.header {
  background-color: rgb(13, 125, 129);
  grid-area: h;
}
.header img {
  width: 80px;
}

.loginBlock {
float: right;
color: white;
}
.loginBlock a {
  color: white;
  }
.logo {
  border-radius: 30px;
  border: 2px #ccc solid;
}