.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: max-content 1fr;
  grid-template-areas:
    "h h"
    "n c";
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr 15fr;
  grid-gap: 0px;
}

.app-wrapper-content {
  background-color: cornflowerblue;
  grid-area: c;
  color: black
}

